<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{respuesta}}</h1>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data () {
        return { respuesta: {} }
      },
      mounted () {
        this.search()
      },
      methods: {
        search () {
          axios.interceptors.request.use((config) => {
            alert('entro al config del interceptor')
            config.headers['Access-Control-Allow-Headers'] = 'Content-Type, X-Auth-Token, Origin, Authorization'
            config.headers.Authorization = 'qidcO6CHPs_oh95K5h9x1FxgPunRkBswosypOGXEpo5qVBn4grVXyI4qTlqs-j5bZMZ0PKRhqhL4M-KTRO4FaQ=='
            config.headers['Access-Control-Allow-Origin'] = '*'
            config.headers['Access-Control-Allow-Methods'] = 'GET, PUT, POST, DELETE, OPTIONS'
            return config
          }, (error) => {
            alert('entro al error del interceptor')
            return Promise.reject(error)
          })

          const headers = { 'Authorization': 'qidcO6CHPs_oh95K5h9x1FxgPunRkBswosypOGXEpo5qVBn4grVXyI4qTlqs-j5bZMZ0PKRhqhL4M-KTRO4FaQ==' }
          const params = { 'limit': '100' }
          const url = 'https://api.axonstream.com/v1/channels/100714/events'
          return axios({
            method: 'GET',
            url,
            headers,
            params
          })
                  .then((response) => {
                            // eslint-disable-next-line no-console
                            console.log(response)
                            alert('puto amo')
                            return response
                          },
                          (error) => {
                            alert('puto amisimo')
                            return { error: true, code: error }
                          }
                  ).then(function (res) {
                    this.respuesta = res
                  }.bind(this))
        }
      }
    })
  </script>
</body>
</html>
